<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!--css datatables-->
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css"
    />
    <!--css/bootstrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
       /* Make the offcanvas icon float left */
       .navbar-toggler {
        order: -1; /* Move to the left on large screens */
      }

      /* Prevent offcanvas from covering the navbar */
      .offcanvas-start {
        margin-top: 5vh; /* Adjust this based on the height of your navbar */
        /* height: calc(100% - 56px); Ensure offcanvas does not overlap navbar */
      }

      
    </style>
  </head>
  <body>
    <!--This templating will happen for private pages //private-normal navabar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">KentaTech</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <!-- <li class="nav-item" for additional apps built later>
              <a class="nav-link" href="/Explore">Dashboard</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/FAQ">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Support">Support</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout"
                ><i
                  class="fa-solid fa-right-to-bracket fa-shake fa-xl"
                  style="color: #ffd43b"
                ></i>
                Logout</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!--private side-navbar(Profile menu) -->
    <nav class="navbar bg-body-tertiary">
        
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
     <div class="offcanvas offcanvas-start show " data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
          
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Staff Menu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/profile">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/products">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/sales">Sales</a>
              </li>
              
              
            </ul>  
    
     </div>
 
    </nav>

    

  </body>
  <!-- the jquery should be before the datatables and should be loaded before the datatables -->
  <!--the js and jquery should be positioned as body tag closes to ensure that the js and jquery are loaded after the html to avoid lag-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
  <!--script provided to link table style from datatables site -->
  <!--the script will run once linked to the opening of the table tag using id represented as hashtag-->

  <script>
    let table = new DataTable("#myTable");
  </script>
  <!-- <script>
      $(document).ready(function () {
            $('#myTable').DataTable({
                "order": [[0, "desc"]] // Order by the first column (index 0) in descending order
            });
        });
    </script>-->

  <!--bootstrap-->
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"
  ></script>
</html>
