<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css"
    />
  </head>
  <body>
    <!-- dl tag is used for description list -->
    <form action="/login" method="POST">
      <label for="">email</label>
      <input type="email" name="mail" />
      <label for="">password</label>
      <input type="password" name="passw" />
      <input type="submit" value="LogIn" />
    </form>
  </body>
</html>
