<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table border="10">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Buying Price</th>
          <th>Selling Price</th>
          <th>Stock</th>
        </tr>
      </thead>
      <tbody>
        {% for p in products %}
        <tr>
          <td>{{p[0]}}</td>
          <td>{{p[1]}}</td>
          <td>{{p[2]}}</td>
          <td>{{p[3]}}</td>
          <td>{{p[4]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
