<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <label for="item">Item</label>
        <input type="text" name="item" id="item">
        <label for="quantity">Quantity</label>
        <input type="number" name="quantity" id="quantity">
        <label for="price">Price</label>
        <input type="number" name="price" id="price">
        <button type="submit">Submit</button>
    </form>
</body>
</html>